body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: #fff;
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden;
	position: static !important;
}
::-moz-selection {
	background: #5268ff;
	color: #fff;
}
::selection {
	background: #5268ff;
	color: #fff;
}
*,
:after,
:before {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.root-node .application {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
	background: #17181a;
}

.payment__subscriptionText:focus-visible {
	outline: none;
}
.two-factor__icon:focus-visible {
	outline: none;
}
.textarea,
.textfield {
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	background: #fff;
	border: 1px solid #babcbf;
	border-radius: 5px;
	clear: both;
	color: #6a6d70;
	height: 50px;
	margin-top: 0.625em;
	position: relative;
}
.textfield--borderbottom {
	border-radius: 0;
	border-width: 0 0 1px;
}
.textarea__label,
.textfield__label {
	color: #6a6d70;
	font-size: 0.875em;
	left: 1.4285714286em;
	position: absolute;
	top: 1.0714285714em;
	transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 1;
}
.textarea__field,
.textfield__field {
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	background-color: transparent;
	background-position: 150% 50% !important;
	border: 0;
	border-radius: 5px;
	font-size: 0.875em;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 1.2857142857em 8% 0 1.4285714286em;
	position: absolute;
	text-overflow: ellipsis;
	width: 100%;
	z-index: 2;
}
.textarea__field::-ms-clear,
.textarea__field::-ms-reveal,
.textfield__field::-ms-clear,
.textfield__field::-ms-reveal {
	display: none;
}
.textarea__field:not([readonly]):focus,
.textfield__field:not([readonly]):focus {
	box-shadow: 0 0 0 0.0625em #5268ff;
	outline: none;
}
.textarea {
	border: 0;
	height: auto;
	min-height: 100px;
}
.textarea__field {
	border-radius: 0.3125em;
	box-shadow: inset 0 0 0 1px #babcbf;
	min-height: 100px;
	padding-bottom: 0.7142857143em;
	padding-top: 1.7857142857em;
	resize: none;
	-webkit-appearance: none;
}
.textarea--noborder .textarea__field {
	box-shadow: 0 0 0;
}
.textarea__field:not([readonly]):focus {
	box-shadow: inset 0 0 0 1px #5268ff;
}
.menu__item:focus-visible {
	outline: 1px solid #5268ff;
}
.nav {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	z-index: 41;
	transition: border-color 0.5s ease, opacity 0.4s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.nav .nav__items {
	background: #fff;
	background-clip: padding-box;
	border-radius: 5px;
	border: 1px solid rgba(23, 24, 26, 0.11);
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.nav .nav__label {
	cursor: pointer;
	display: inline-block;
	height: auto;
	line-height: 2.375rem;
	position: relative;
	transition: color 0.2s ease-out;
}
.nav .nav__item {
	align-items: center;
	display: flex;
	border-right: 1px solid rgba(23, 24, 26, 0.11);
	flex-grow: 1;
	justify-content: center;
	transition: background-color 0.2s ease-out;
	min-height: 36px;
}
.nav .nav__item:first-child:not(:focus-within) {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.nav .nav__item:last-child {
	border-right: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
@media (min-width: 48em) {
	.nav .nav__item:hover {
		background: #f7f9fa;
	}
	.nav .nav__item:hover:first-child {
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
	.nav .nav__item:hover:last-child {
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}
.nav .nav__item:first-child .nav__link {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.nav .nav__item:last-child .nav__link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.nav .nav__item .nav__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	outline: 0;
}
.nav .nav__item .nav__link:active:hover {
	background: #e8ebed;
}
.nav .nav__item .nav__link:focus:focus-visible {
	outline-offset: -1px;
	outline: 2px solid #5268ff;
	padding: 0;
}
.nav .nav__item .nav__label {
	color: #17181a;
	font-weight: 500;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	font-size: 0.875em;
	padding: 0 12px;
	text-decoration: none;
}
.nav .nav__item:first-child > :first-child {
	margin-right: auto;
}
.nav .nav__item:last-child > :first-child {
	margin-left: auto;
}
.verticalnav__list:focus-visible {
	outline: none;
}
.scrollable {
	height: 100%;
	overflow: hidden;
	overflow-x: hidden !important;
	position: relative;
	width: 100%;
}
.scrollable .scrollable__content {
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0 -17px 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.scrollable .scrollable__content::-webkit-scrollbar {
	-webkit-appearance: none;
	display: none;
	opacity: 0;
	width: 0 !important;
}
.scrollable:after,
.scrollable:before {
	bottom: 0;
	content: "";
	height: 10px;
	left: 0;
	position: absolute;
	right: 0;
	transition: box-shadow 0.3s ease;
	z-index: 999;
}
.scrollable .scrollable__scrollbar {
	bottom: 10px;
	opacity: 0;
	position: absolute;
	right: 2px;
	top: 10px;
	transition: opacity 0.3s ease;
	width: 0.25em;
	z-index: 999;
}
.scrollable .scrollable__scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	min-height: 20px;
	width: 100%;
}
.scrollable .scrollable__scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.25);
}
.transfer-group-tabs__item:focus-visible {
	outline: medium auto currentColor;
	outline: medium auto invert;
	outline: 1px auto -webkit-focus-ring-color;
}
.transfer {
	height: 25.625em;
	left: 5em;
	margin: -12.8125em 0 0;
	border-radius: 10px;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	z-index: 30;
	width: 17.5em;
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.transfer__cookie-wall-active {
	opacity: 0.7;
}
.transfer .transfer__window {
	height: 100%;
	border-radius: 10px;
}
.transfer .transfer__contents {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	height: 21.125em;
	overflow: hidden;
	position: static;
}
.transfer .transfer__contents .scrollable__content {
	position: inherit;
}
.transfer .transfer__footer {
	border-top: 1px solid #d4d7d9;
	height: 4.5em;
	padding: 0 1.25em;
	position: relative;
}
.transfer .transfer__button {
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #5268ff;
	border: 1px solid #5268ff;
	border-radius: 1.25em;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 2.5em;
	outline: 0;
	font-weight: 500;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	transition: border-color 0.2s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
		color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 9.75em;
}
.transfer .transfer__button:focus,
.transfer .transfer__button:hover {
	background-color: #3741d9;
	border-color: #3741d9;
}
.transfer .transfer__button--inactive,
.transfer .transfer__button--inactive:focus,
.transfer .transfer__button--inactive:hover {
	background: #babcbf;
	border-color: #babcbf;
	color: #fff;
	cursor: default;
}
.uploader__fields {
	min-height: 7.5em;
	padding: 0 0.625em;
}
.uploader__fields .textfield__label {
	left: 0.8125em;
}
@media (min-width: 48em) {
	.uploader__fields .textarea__field,
	.uploader__fields .textfield__field {
		border-radius: 0;
		box-shadow: 0 0 0;
	}
}
.uploader__sender {
	position: relative;
}
.uploader__sender:focus {
	background: #f09;
}
.uploader__recipient-limit {
	position: absolute;
	top: 1rem;
	right: 0.625rem;
	color: #676767;
	font-size: 0.75rem;
	transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.uploader__message {
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}
.uploader__message .textarea__label {
	left: 10px;
}
.uploader__message .uploader__message--shadow,
.uploader__message textarea {
	background: none;
	border: 0;
	color: #17181a;
	display: block;
	font-size: 0.875em;
	line-height: 1.2;
	margin: 0;
	min-height: 4.375rem;
	outline: 0;
	overflow: hidden;
	padding: 1.7857142857em 1.5em 0.9285714286em 0.7142857143em;
	width: 100%;
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
}
@media (min-width: 48em) {
	.uploader__message .uploader__message--shadow:not([readonly]):focus,
	.uploader__message textarea:not([readonly]):focus {
		box-shadow: 0 0 0;
	}
}
.uploader__message .uploader__message--shadow {
	visibility: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.uploader__message textarea {
	border-radius: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	resize: none;
	top: 0;
	width: 100%;
	z-index: 5;
}
.uploader__message textarea::-moz-placeholder {
	color: #6a6d70;
}
.uploader__autosuggest {
	position: relative;
	z-index: 20;
}
.uploader .scrollable.transfer__contents {
	overflow: auto;
}
.uploader h2 {
	font-weight: 500;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	color: #17181a;
	font-size: 1.375em;
	line-height: 1.2;
	margin: 0;
	padding: 0 0.4545454545em;
	text-align: center;
}
.uploader--form .textfield {
	border-color: #d4d7d9;
	height: 47px;
	margin: 0;
}
.uploader--form .textfield__field {
	padding: 1.1428571429em 8% 0 0.7142857143em;
}
.uploader--form .textfield__field:not([readonly]):focus {
	border: 0;
	box-shadow: none;
}
.uploader--form .textarea {
	margin-top: 0;
	min-height: auto;
}
.uploader--form .textarea__field:not([readonly]):focus {
	border: 0;
	box-shadow: none;
}
.uploader--form .uploader__files {
	border-bottom: 1px solid #d4d7d9;
	position: relative;
}
.uploader--form .uploader__files--size-limit {
	border-bottom: none;
}
.uploader--form .uploader__files--size-limit + .uploader__fields .uploader__message--shadow,
.uploader--form .uploader__files--size-limit + .uploader__fields textarea {
	min-height: 2.9375rem;
}
.uploader--form .uploader__files form {
	bottom: 0;
	height: 1px;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
.uploader--form .uploader__empty-state {
	cursor: pointer;
	min-height: 12.125em;
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	padding: 0 1.25em;
}
.uploader--type-email .uploader__empty-state {
	min-height: 6.875em;
}
.uploader--form .uploader__empty-state svg {
	display: block;
	height: 2.25em;
	width: 2.25em;
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	margin-right: 10px;
	flex-shrink: 0;
}
.uploader--form .uploader__empty-state svg path {
	transition: all 0.33s cubic-bezier(0.77, 0, 0.175, 1);
}
.uploader--form .uploader__empty-state h2 {
	display: block;
	font-size: 1.375em;
	line-height: 120%;
	margin: 0;
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	padding: 0;
	text-align: left;
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.uploader--form .uploader__empty-state h2:not(:last-child) {
	margin-bottom: 0.25em;
}
.uploader--form .uploader__empty-state .uploader__sub-title {
	color: #6a6d70;
	font-size: 0.75em;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	vertical-align: top;
	display: inline-block;
}
.uploader--form .uploader__empty-state:hover .uploader__sub-title {
	opacity: 1;
}
.uploader--form .uploader__empty-state .uploader__empty-state-text {
	line-height: 0;
}
.uploader--form .uploader__empty-state:hover .uploader__empty-state-text {
	transform: none;
}
.uploader--form .uploader__empty-state .uploader__directories-dialog-trigger {
	background-color: transparent;
	border: 0;
	border-bottom: 0.0625em solid #484a4d;
	color: #484a4d;
	cursor: pointer;
	outline: 0;
}
.uploader--form .uploader__empty-state .uploader__directories-dialog-trigger:hover {
	border-bottom-color: #5268ff;
	color: #5268ff;
}
.uploader--form .uploader__empty-state:focus svg path:first-of-type,
.uploader--form .uploader__empty-state:hover svg path:first-of-type {
	fill: #3741d9;
}
.uploader--form .uploader__file-size-upsell {
	display: flex;
	align-items: center;
	box-shadow: inset 0 -1px 0 #e8ebed, inset 0 1px 0 #e8ebed;
	background: #f7f9fa;
	height: 2rem;
	font-size: 0.75rem;
	line-height: 1.125rem;
}
.uploader--form .uploader__file-size-upsell--limit {
	margin-left: 1.25rem;
	margin-right: 0.5rem;
	color: #6a6d70;
}
.transferlist__sort-arrow:focus-visible {
	outline: medium auto currentColor;
	outline: medium auto invert;
	outline: 1px auto -webkit-focus-ring-color;
}
.transferitem:focus-visible .transferitem__arrow path {
	stroke: #5268ff;
}
.nav,
.transfer {
	animation: appFadeIn 1 0.3s ease-in 0 forwards;
}
.nav.nav--loaded {
	animation: none;
}
@keyframes appFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.AddSocialLinks_button__jIlwW:not(:active):focus:after {
	content: "";
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;
	bottom: -0.25rem;
	left: -0.25rem;
	border-radius: 24px;
	border: 0.25rem solid #161616;
}
.Button_link__Ivg7t:focus-visible {
	background-color: transparent;
	box-shadow: 0 0 0 2px #5268ff;
}
.Button_link__Ivg7t.Button_primary__Evle3:focus-visible {
	color: #3741d9;
	border-radius: 0.5rem;
	box-shadow: 0 0 0 3px rgba(82, 104, 255, 0.2);
}
.Button_proButton___imxA:not(:disabled):hover {
	color: #5268ff;
	background-image: linear-gradient(180deg, transparent, transparent);
	border: 1px solid #5268ff;
}
.InputMessage_input__lTCYj:not(:disabled)::-moz-placeholder::placeholder {
	color: #707070;
}
.InputMessage_input__lTCYj:not(:disabled)::placeholder::placeholder {
	color: #707070;
}
.Input_input__Z4uzj:not(:disabled)::-moz-placeholder::placeholder {
	color: #707070;
}
.Input_input__Z4uzj:not(:disabled)::placeholder::placeholder {
	color: #707070;
}
.Switch__Element:focus:not(:focus-visible) {
	outline: none;
}
.Switch__Element:focus:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(58, 102, 255, 0.5);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
}
.TransferAccountMenuButton:focus-within:focus-visible {
	outline: 2px solid #5268ff;
	border-radius: 0;
	outline-offset: -1px;
}
.NavigationSubmenuButton {
	cursor: pointer;
	padding: 0 0.75rem;
	margin-left: 0;
	font-weight: 500;
	font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande,
		sans-serif;
	font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI,
		Helvetica Neue, Lucida Grande, sans-serif;
	color: #17181a;
	font-size: 0.875em;
	background: #fff;
	background-clip: padding-box;
	border: none;
	border-right: 1px solid rgba(23, 24, 26, 0.11);
	transition: opacity 0.4s ease;
	height: 100%;
}
.NavigationSubmenuButton:focus:focus-visible {
	outline-offset: -1px;
	outline: 0.125rem solid #5268ff;
}
.NavigationSubmenuButton:hover {
	background: #f7f9fa;
}
.NavigationSubmenuButton__arrow {
	width: 0.5rem;
	height: 0.5rem;
	transition: transform 0.25s ease-in-out;
	color: #161616;
	flex-shrink: 0;
	margin-left: 0.375rem;
}
.NavigationSubmenuButton__arrow--default {
	transform: rotate(-90deg);
}
.Button:focus:not(:focus-visible) {
	outline: none;
}
.Button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(58, 102, 255, 0.5);
}
.TransferOptionsButton_button__vNQGj {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 1em;
	height: 1.5em;
	left: 1.25em;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 1.5em;
}
.TransferOptionsButton_button__vNQGj:hover path {
	fill: #3741d9;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* banner */

.payment__subscriptionText:focus-visible {
	outline: none;
}

.two-factor__icon:focus-visible {
	outline: none;
}

.menu__item:focus-visible {
	outline: 1px solid #5268ff;
}

.nav .nav__item:first-child:not(:focus-within) {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.nav .nav__item .nav__link:focus:focus-visible {
	outline-offset: -1px;
	outline: 2px solid #5268ff;
	padding: 0;
}

.verticalnav__list:focus-visible {
	outline: none;
}

.transfer-group-tabs__item:focus-visible {
	outline: medium auto currentColor;
	outline: medium auto invert;
	outline: 1px auto -webkit-focus-ring-color;
}

.transferlist__sort-arrow:focus-visible {
	outline: medium auto currentColor;
	outline: medium auto invert;
	outline: 1px auto -webkit-focus-ring-color;
}

.transferitem:focus-visible .transferitem__arrow path {
	stroke: #5268ff;
}

.AddSocialLinks_button__jIlwW:not(:active):focus:after {
	content: "";
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;
	bottom: -0.25rem;
	left: -0.25rem;
	border-radius: 24px;
	border: 0.25rem solid #161616;
}

.Button_link__Ivg7t:focus-visible {
	background-color: transparent;
	box-shadow: 0 0 0 2px #5268ff;
}

.Button_link__Ivg7t.Button_primary__Evle3:focus-visible {
	color: #3741d9;
	border-radius: 0.5rem;
	box-shadow: 0 0 0 3px rgba(82, 104, 255, 0.2);
}

.Button_proButton___imxA:not(:disabled):hover {
	color: #5268ff;
	background-image: linear-gradient(180deg, transparent, transparent);
	border: 1px solid #5268ff;
}

.InputMessage_input__lTCYj:not(:disabled)::-moz-placeholder::placeholder {
	color: #707070;
}

.InputMessage_input__lTCYj:not(:disabled)::placeholder::placeholder {
	color: #707070;
}

.Input_input__Z4uzj:not(:disabled)::-moz-placeholder::placeholder {
	color: #707070;
}

.Input_input__Z4uzj:not(:disabled)::placeholder::placeholder {
	color: #707070;
}

.Switch__Element:focus:not(:focus-visible) {
	outline: none;
}

.Switch__Element:focus:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(58, 102, 255, 0.5);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
}

.TransferAccountMenuButton:focus-within:focus-visible {
	outline: 2px solid #5268ff;
	border-radius: 0;
	outline-offset: -1px;
}

.NavigationSubmenuButton:focus:focus-visible {
	outline-offset: -1px;
	outline: 0.125rem solid #5268ff;
}

.Button:focus:not(:focus-visible) {
	outline: none;
}

.Button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(58, 102, 255, 0.5);
}

button {
	border: none;
	background: none;
}

.BillingPeriodToggle_toggleButton__rY5wo:has(:focus-visible) {
	outline: 2px solid blue;
}

@media screen and (min-width: 1100px) {
	.nav {
		z-index: 2147483647;
	}
	.transfer {
		z-index: 2147483647;
	}
}
